<!-- This page is currently not used -->
<!doctype html>
<html>
  <head>
    <title>Socket.IO Name</title>
  </head>

  <body>
  	<h1>Your name:</h2>
  	
  	<form action="/login" method="POST">
  		<input type="text" name="name"><br>
  		<input type="submit" value="Submit">
  	</form>
  </body>
</html>